{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">NGGS-UNLAM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'satelliteListView' %}">Satelites</a>

      </li>      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'TlmyVarType' %}">Telemetría</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Servicios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'TlmyVarType' %}">Telemetría</a>
          <a class="dropdown-item" href="{% url 'satelliteListView' %}">Satelites</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!--
<nav class="navbar navbar-inverse">
  	<div class="container-fluid">
    	<div class="navbar-header">
    	  <a class="navbar-brand" class="active" href="{% url 'home' %}">NGGS-Unlam</a></li>
    	</div>
			<ul class="nav navbar-nav">
	  			<li><a href="{% url 'TlmyVarType' %}">Telemetria</a></li>
	  			<li><a href="{% url 'satelliteListView' %}">Satelites</a></li> 	
			</ul>
			<ul class="nav navbar-nav navbar-right">
      			<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
				{% if user.is_authenticated %}
				<li><a>| Bienvenido,{{ user.username }}</a></li>
				{% endif %}
      		</ul>
	</div>
</nav>
-->
{% endblock %}
